services:
  postgres:
    image: 'postgres:18'
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: 'redis:latest'
    env_file:
      - .env
    ports:
      - '6379:6379'

volumes:
  postgres_data: